
    <section>
        <div class="container mt-5">
            <div class="row">
            {{#each products}}
                <div class="col-md-3 p-4">
                    <div class="card" style="width: 18rem,height:22rem">
                        <img class="card-img-top" style="height: 12rem;" src="/product-images/{{this._id}}.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{this.name}}</h5>
                            <p class="card-text">QR.{{this.price}}<br>
                           {{this.category}}<br>
                            {{this.description}}</p>
                            
                            <button onclick="addToCart('{{this._id}}')" class="btn btn-primary">Add to cart</button>
                        </div>
                    </div>
                </div>
                
                {{/each}}
            </div>

        </div>

    </section>

   